.results article {
  display: flex;
  position: relative;
  width: 100%;
  border: 1pt solid #ddd;
  border-radius: 4pt;
  margin-bottom: 8pt;
  overflow: hidden;
  /* Safari Hack, thanks for Apple */
  height: 11.5em;
}

.results article img {
  flex: 0 0 auto;
  width: 106px;
  height: 100%;
  object-fit: cover;
}

.results article .details {
  flex: 1 1 auto;
  display: block;
  position: relative;
  background-color: white;
  padding: 12pt;
  overflow: hidden;
  z-index: 1;
}

.results article .title {
  padding-right: 25pt;
  font-size: 120%;
  font-weight: bold;
  cursor: pointer;
  color: #e91e63;
  margin: 0;
}

.results article .title:hover {
  color: #2196f3;
}

.results article .released {
  font-size: 90%;
  color: #777;
}

.results article .description {
  margin-top: 6pt;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.results article .rating {
  display: flex;
  position: absolute;
  top: 10pt;
  right: 10pt;
  background: linear-gradient(45deg, #e91e63, #2196f3);
  width: 22pt;
  height: 22pt;
  border-radius: 2pt;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 80%;
}

.results article .extra {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #f9f9f9;
  padding: inherit;
  transform: translateY(100%);
  transition: transform 200ms;
  z-index: 1;
}

.results article .extra.active {
  transform: translateY(0%);
}

.results article .extra a {
  display: block;
  color: inherit;
}
