.footer {
  display: block;
  margin-top: auto;
  padding: 48pt 6pt;
  background-color: #212121;
  color: white;
  text-align: center;
}

.footer a {
  color: #bdbdbd;
}

.footer a:hover {
  color: #dbdbdb;
}
